* {
    margin: 0;
    padding: 0;
}

body {
    /* border: 2px solid green; */
    width: 1439px;
    height: 2554px;
    max-width: 100%;
  overflow-x: hidden;
}

/* Header Styling */

header {
    /* border: 2px solid red; */
    width: 1275px;
    height: 800px;
    display: flex;
    max-width: 100%;
  height: auto;
}

.container1 {
    height: 799px;
    width: 450px;
    background-color: black;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
}

.container2 {
    width: 540px;
    height: 800px;
    background: url(assets/assets/desktop/image-hero.jpg), lightgray 50% / cover no-repeat;
    max-width: 100%;
  height: auto;
}


h1 {
    font-family: 'Big Shoulders Display', sans-serif;

    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    text-transform: uppercase;
    width: 514px;
    height: 176px;
    top: 189px;
    position: relative;
    left: 165px;
}

.p1 {
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 145.455% */
    width: 300px;
    height: 160px;
    top: 190px;
    left: 925px;
    position: absolute;

}

.location {
    position: absolute;
    width: 204px;
    height: 72px;
    top: 414px;
    left: 925px;
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
    background-color: black;
}

.location:hover{
    cursor: pointer;
}

.location a {
    text-decoration: none;
    color: #FFF;
}

.button-icon {
    position: absolute;
    width: 56px;
    height: 72px;
    top: 414px;
    left: 1129px;
}

.button-icon:hover{
    cursor: pointer;
}

.arrow {
    margin: -2px;
}

main {
    position: absolute;
    width: 1110px;
    height: 1150px;
    top: 980px;
    left: 100px;
    /* border: 2px solid blueviolet; */

}

.section-1 {
    display: flex;
}

.text-box-1 {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.section-1 .text-box-1 h2 {
    position: absolute;
    display: flex;
    top: 100px;
    width: 350px;
    height: 120px;
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 100% */
    text-transform: uppercase;
}

.section-1 .text-box-1 .p2 {
    position: absolute;
    display: flex;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 145.455% */
    width: 350px;
    height: 128px;
    top: 240px;
}

.image-1 {
    width: 635;
    height: 400;
    margin-left: 475px;
    max-width: 100%;
  height: auto;
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 26px;
    gap: 30px;
}

.section-2 .image-2 img {
    width: 635px;
    height: 720px;
}

.image-2 {
    max-width: 100%;
  height: auto;
    grid-column: 1 / 2;
}

.section-2 .image-3 img {
    max-width: 100%;
  height: auto;
    width: 445px;
    height: 313px;
}

.section-2 .text-box-2 {
    width: 445px;
    height: 377px;
    color: white;
    background-color: black;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}

.text-box-2 h2 {
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 100% */
    text-transform: uppercase;
    width: 350px;
    height: 120px;
    margin: 65px 17px 60px 45px;
}

.text-box-2 .p3 {
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 145.455% */
    width: 350px;
    height: 96px;
    margin: -40px 47px 64px 48px;
}

footer {
    width: 1440px;
    height: 253px;
    background-color: black;
    position: absolute;
    top: 2310px;
}

.logo {
    position: absolute;
    top: 85px;
    left: 90px ;
    width: 159.572px;
    height: 58px;
}

.logo:hover{
    cursor: pointer;
}

.p4 {
    color: white;
    width: 281px;
    height: 104px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    left: 550px;
    top: 80px
}

.social-icons{
    position: absolute;
    top:80px;
    left:1100px;
}

.social-icons:hover{
    cursor: pointer;
}